name: CI

on:
  push:
  pull_request:

jobs:
  build-backend:
    name: Build Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: backend/yarn.lock

      - name: Install Backend Dependencies
        working-directory: ./backend
        run: yarn install

      - name: Build Backend
        working-directory: ./backend
        run: yarn build

  build-frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    needs: build-backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: frontend/yarn.lock

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: yarn install

      - name: Build Frontend
        working-directory: ./frontend
        run: yarn build
